body {
  background-image: url(https://cdn.wallpapersafari.com/1/97/co341S.jpg);
  background-size: 150%;
  background-blend-mode: overlay;
  background-position-y: 20%;
  background-position-x: 50%;
}

p {
  color: red;
}
